* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #f1f1f1;
  background: black;
}
h1, h2, h3, h5, p {
  margin: 0;
  padding: 0;
}
img{
  display: inline-block;
  max-width: 100%;
}
.call {
  position: relative;
  min-height: 60vh;
}
.buttons {
  position: absolute;
  bottom: 0.5em;
  display: flex;
  flex-wrap: wrap;
  gap: .4em;
  width: 70%;
  padding: 0.5em;
  border-radius: 2em;
  z-index: 4;
  background: #222;
}
.buttons button {
  cursor: pointer;
  width: 3em;
  height: 3em;
  padding: 0.8em;
  border-radius: 50%;
  border: none;
  background: #444;
}
.buttons button.visiable {
  display: block;
}
.buttons #callButton, .buttons #answer {
  background: #4bd664;
}
.buttons #hangUp {
  background: #ed3939;
}
.buttons #input {
  width: 6em;
}


@media (pointer: fine) {
  .call {
    width: 50%;
    height: auto;
  }
}
