* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #f1f1f1;
  background: black;
}
h1, h2, h3, h5, p {
  margin: 0;
  padding: 0;
}
img{
  display: inline-block;
  max-width: 100%;
}
.call {
  position: relative;
  min-height: 60vh;
}
#remoteVideo {
  display: none;
  width: 100%;
  height: auto;
}
#remoteVideo.active {
  display: block;
}
#localVideo {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: 0.25s all;
}
#localVideo.small {
  top: -0.5em;
  left: -0.5em;
  border-radius: 2em;
  box-shadow: 0 0 0 2px white, 0 0 3px 0 rgba(0, 0, 0, 0.8);
  transform-origin: bottom right;
  transform: scale(0.2);
}
.buttons {
  position: absolute;
  bottom: 0.5em;
  display: flex;
  flex-wrap: wrap;
  gap: .4em;
  width: 70%;
  padding: 0.5em;
  border-radius: 2em;
  z-index: 4;
  background: #222;
}
.buttons button {
  display: none;
  cursor: pointer;
  width: 3em;
  height: 3em;
  padding: 0.8em;
  border-radius: 50%;
  border: none;
  background: #444;
}
.buttons button.visiable {
  display: block;
}
.buttons #callButton, .buttons #answer {
  background: #4bd664;
}
.buttons #hangUp {
  background: #ed3939;
}
.buttons #input {
  width: 6em;
}
.messaging-area {
  display: none;
  padding: 1em;
  background: #666;
  width: 80%;
  margin: 2em auto;
  box-shadow: inset 0 0 4px 1px #111;
}
.messaging-area.visiable {
  display: block;
}
#chat {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 12px;
}
.messaging-area .send {
  position: fixed;
  bottom: 0;
}
.messaging-area .received {
  align-self: end;
  width: 70%;
  text-align: end;
}
.messaging-area .sent {
  width: 70%;
}
.messaging-area .received span {
  padding: 0.5em 1em;
  background: #1782d4;
  border-radius: 2em;
}
.messaging-area .sent span {
  padding: 0.5em 1em;
  background: #333;
  border-radius: 2em;
}

@media (pointer: fine) {
  .call {
    width: 50%;
    height: auto;
  }
}
